@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.padding_5, .section-fonctionnement {
  padding: 0 5% 0 5%;
}

.position-relative {
  position: relative;
}

* {
  font-family: "roboto";
}

.titre_restaurant h2 {
  font-family: Shrikhand;
}

.button_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 80px auto;
  border: 1px solid palevioletred;
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
  height: 70px;
  width: 80%;
  max-width: 300px;
  border-radius: 35px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: transform 1s, box-shadow 1s, filter 1s;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.button_principal:hover {
  transform: scale(1.05);
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
  filter: brightness(108%);
}

.button_nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: rgb(28, 96, 78);
  width: 110px;
  font-size: 20px;
  padding: 10px 0 10px 0;
  right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}

.number_fonctionnement {
  position: absolute;
  left: -15px;
  border: 1px #9356DC solid;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_homepage {
  font-size: 30px;
  position: absolute;
  top: 35px;
  left: 35px;
  color: black;
}

.fa-heart:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.explorer {
  background-color: rgb(247, 246, 246);
  display: inline-block;
  width: 100%;
}
.explorer h2 {
  font-size: 32px;
  text-align: center;
  width: 70%;
  margin: 60px auto 30px auto;
}
.explorer p {
  text-align: center;
  width: 80%;
  margin: 0 auto 0 auto;
  font-size: 25px;
  font-weight: 100;
}

.section-fonctionnement li {
  background-color: rgb(247, 246, 246);
  height: 105px;
  list-style-type: none;
  margin-bottom: 33px;
  border-radius: 35px;
  font-size: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.section-restaurants {
  background-color: rgb(247, 246, 246);
  padding: 45px 5% 70px 5%;
}
.section-restaurants h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-restaurants .responsiv_flex a:visited, .section-restaurants a:link {
  color: black;
  text-decoration: none;
}

.section-fonctionnement {
  padding-bottom: 50px;
}
.section-fonctionnement h2 {
  margin: 70px 0 45px 0;
  font-size: 35px;
}
.section-fonctionnement li {
  position: relative;
  background-color: rgb(247, 246, 246);
  height: 105px;
  list-style-type: none;
  margin-bottom: 33px;
  border-radius: 35px;
  font-size: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.section-fonctionnement li p, .section-fonctionnement li i {
  margin-left: 35px;
}
.section-fonctionnement li:nth-child(3) {
  background-color: rgb(245, 237, 254);
}
.section-fonctionnement li:nth-child(3) i {
  color: #9356DC;
}

header img {
  width: 45%;
  max-width: 300px;
  margin: 30px auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.city h1 {
  font-size: 20px;
  background-color: rgb(234, 234, 234);
  height: 50px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.448);
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.city h1 i {
  padding-right: 20px;
}

.bandeau img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page_menu {
  position: relative;
  margin-top: -200px;
  padding: 20px 5% 50px 5%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: rgb(247, 246, 246);
}
.page_menu .titre_restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.page_menu .titre_restaurant h2 {
  font-size: 34px;
  font-weight: 900;
  font-style: italic;
}
.page_menu .titre_restaurant i {
  font-size: 40px;
}
.page_menu h3 {
  font-size: 25px;
  font-weight: 300;
}
.page_menu h3::after {
  content: "";
  display: block;
  height: 4px;
  width: 65px;
  background-color: #99E2D0;
  margin-top: 8px;
}

.explorer a {
  margin-top: 50px;
}

footer {
  background-color: rgb(43, 43, 43);
  padding: 20px 0 40px 0;
}
footer li {
  font-size: 23px;
  list-style-type: none;
  color: #FFF;
  margin-bottom: 15px;
}
footer li img {
  filter: invert(1);
}
footer li i {
  margin-right: 20px;
}
footer li a:link, footer li a:visited {
  color: black;
  text-decoration: none;
  color: #FFF;
}
footer li:nth-child(3) i {
  transform: rotate(-40deg);
}

.container_restaurants {
  height: 100%;
}

.card-menu {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}
.card-menu .plat {
  flex-direction: column;
  width: 90%;
  white-space: nowrap;
  transition: all 1s;
}
.card-menu .plat h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px auto 15px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu .plat p {
  font-size: 17px;
  font-weight: 300;
  margin: 0 auto 15px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu .price {
  display: block;
  font-weight: 500;
  width: 10%;
  margin-top: auto;
  margin-bottom: 10px;
}

.like {
  position: absolute;
  display: flex;
  right: -80px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 40px;
  color: #FFF;
  align-items: center;
  justify-content: center;
  width: 80px;
  background-color: #99E2D0;
  transition: all 1s;
}

.card-menu {
  transition: transform 1s;
}
.card-menu:hover > .like {
  transform: translateX(-80px);
}
.card-menu:hover .like > i {
  transform: rotate(360deg);
}
.card-menu:hover > .plat {
  width: calc(90% - 80px);
}

.card-menu .like i {
  transition: transform 0.5s linear 0.2s;
}

.icone-color {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.5s linear 0.2s;
}
.icone-color::after {
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  display: none;
  background: linear-gradient(-15deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icone-color:hover::after {
  display: block;
}

.card-menu h4,
.card-menu div {
  transform-origin: 0% 50%;
}

.section-restaurants article {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 25px;
  position: relative;
  margin-bottom: 25px;
  transition: all 0.5s ease-in-out;
}
.section-restaurants article img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 265px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.section-restaurants article:hover {
  transform: scale(1.02);
}
.section-restaurants article .restaurants_indication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-restaurants article .restaurants_indication h3 {
  margin: 15px 0 10px 20px;
}
.section-restaurants article .restaurants_indication p {
  margin: 0 0 15px 20px;
  font-weight: 300;
}
.section-restaurants article .restaurants_indication i {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: 30px;
}

.effet_decale {
  flex: 1;
}
.effet_decale > :nth-child(2) {
  opacity: 0;
  animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
  animation-delay: 0.3s;
}
.effet_decale > :nth-child(3) {
  opacity: 0;
  animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
  animation-delay: 0.6s;
}
.effet_decale > :nth-child(4) {
  opacity: 0;
  animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
  animation-delay: 0.9s;
}
.effet_decale > :nth-child(5) {
  opacity: 0;
  animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
  animation-delay: 1.2s;
}

.annimation-entree {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(247, 246, 246);
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: annimation_entree 6s forwards;
}
.annimation-entree img {
  width: 40%;
  height: 60px;
  animation: annimation_entree_booki 5s 1s;
  opacity: 0;
  filter: blur(2px);
}
.annimation-entree .barre_de_chargement {
  width: 50%;
  height: 20px;
  border: black 3px solid;
  border-radius: 20px;
  z-index: 100;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: barre_de_chargement 1s 2s forwards;
}
.annimation-entree .barre_de_chargement img {
  width: 80px;
  height: 80px;
}
.annimation-entree .barre_de_chargement .remplissage {
  width: 100%;
  height: 100%;
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
  position: absolute;
  z-index: 99;
  top: 0;
  opacity: 0;
  border-radius: 20px;
  animation-name: remplissage;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

@media (min-width: 1250px) {
  .responsiv_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .responsiv_flex a {
    width: calc(50% - 24px);
  }
  .section-fonctionnement ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-fonctionnement ul li {
    width: 30%;
  }
  .section-fonctionnement ul li p {
    margin-left: 10px;
  }
  .section-fonctionnement ul li i {
    margin-left: 25px;
  }
  .section_flex_responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
@keyframes annimation_entree_booki {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    filter: none;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: none;
  }
}
@keyframes remplissage {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  60% {
    transform: scaleX(0.3);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes barre_de_chargement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes annimation_entree {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes add_to_panier {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes loader_restaurant {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes effet_decale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes effet_decale_hauteur {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=index.css.map */