

.explorer{
    background-color: $grey-principal;
    display: inline-block;
    width: 100%;
    padding: $pading_5;

    
    h2{
        font-size: 32px;
        text-align: center;
        width: 60%;
        margin: 60px auto 30px auto;
    }
    p {
        text-align: center;
        width: 80%;
        margin: 0 auto 0 auto;
        font-size: 25px;
        font-weight: 100;

    }
}


.section-fonctionnement{
    @extend .padding_5;

    h2{
        margin: 70px 0 45px 0;
        font-size: 35px;
    }
}