
.explorer{
    background-color: $grey-principal;
    display: inline-block;
    width: 100%;

    
    h2{
        font-size: 32px;
        text-align: center;
        width: 70%;
        margin: 60px auto 30px auto;
    }
    p {
        text-align: center;
        width: 80%;
        margin: 0 auto 0 auto;
        font-size: 25px;
        font-weight: 100;

    }
}


.section-fonctionnement li{
    background-color: $grey-principal;
    height: 105px;
    list-style-type: none;
    margin-bottom: 33px;
    border-radius: 35px;
    font-size: 25px;
    box-shadow: $shadow-main;

    @include flex_row_center;
    justify-content: flex-start;
    
    
}



.section-restaurants{

    background-color: $grey-principal;
    padding: 45px 5% 70px 5%;

    h2{
        font-size: 35px;
        margin-bottom: 30px ;
    }


    & .responsiv_flex a:visited, a:link{
        @include link;
    }
}



.section-fonctionnement{
    @extend .padding_5;
    padding-bottom: 50px;

    h2{
        margin: 70px 0 45px 0;
        font-size: 35px;
    }

    li{
        position: relative;

        p, i{
            margin-left: 35px;
        }
    }
}