.bandeau img{
    height: 500px;
    width: 100%;
    object-fit: cover;

}

.page_menu{

    position: relative;
    margin-top: -200px;
    padding: 20px 5% 50px 5%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: $grey-principal;

    .titre_restaurant{
        @include flex_row_center;
        justify-content: space-between;

        h2{
            font-size: 34px;
            font-weight: 900;
            font-style: italic;
        }
        i{
            font-size: 40px;
        }
    }
    h3{
        font-size: 25px;
        font-weight: 300;

    }
    h3::after{
        content: "";
        display: block;
        height: 4px;
        width: 65px;
        background-color: #99E2D0;
        margin-top: 8px;
    }
}

.explorer a{
    margin-top: 50px;
}