@keyframes add_to_panier{
    0% {
        transform: scaleX(0);
    }
    30% {
        transform: scaleX(1);
    }
    70% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
    
}

@keyframes add_to_panier-retrecir{
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(80%);
    }
    70% {
        transform: scaleX(80%);
    }
    100% {
        transform: scaleX(1);
    }
    
}