@keyframes add_to_panier{
    0% {
        transform: translate(0)
    }
    100% {
        transform: translate(-100%, 0)
    }
    
}


@media (min-width: 1250px ) {

    .responsiv_flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        a{

            width: 45%;
        }

    }
    
    
    .section-fonctionnement ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & li{
            width: 30%;
        }
    }
    
    .section_flex_responsive{

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        section{
        }
    }
}