@keyframes add_to_panier{
    0% {
        transform: translate(0)
    }
    100% {
        transform: translate(-100%, 0)
    }  
}

@keyframes loader_restaurant {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@media (min-width: 1250px ) {

    .responsiv_flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5%;

        a{

            width: calc( 50% - 24px);
        }

    }
    
    
    .section-fonctionnement ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & li{
            width: 30%;

            p{
                margin-left: 10px;
            }

            i{
                margin-left: 25px;
            }
        }
    }
    
    .section_flex_responsive{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        
    }
}


 @keyframes annimation_entree {
    0%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
    
 }

 @keyframes annimation_entree_booki {
    0%{
        opacity: 0;
    }

    20%{
        opacity: 1;
        filter: none;

    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        filter: none;

    }
 }
 @keyframes remplissage {
    0%{
        transform: scaleX(0);
        opacity: 1;
    }
    60%{
        transform: scaleX(0.3);
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
    
 }

 @keyframes barre_de_chargement {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
 }
 .effet_decale{
    flex: 1;

    > :nth-child(2){
        opacity: 0;
        animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
        animation-delay: 0.3s;  
    }
    > :nth-child(3){
        opacity: 0;
        animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;        
        animation-delay: 0.6s;
    }
    > :nth-child(4){
        opacity: 0;
        animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;
        animation-delay: .9s;
    }
    > :nth-child(5){
        opacity: 0;
        animation: effet_decale 1.5s forwards, effet_decale_hauteur 1.5s;        animation-delay: 1.2s;
    }

}

@keyframes effet_decale {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes effet_decale_hauteur {
    0%{
        transform: translateY(30%)
    }
    100%{
        transform: translateY(0);
    }
}