header{
    & img{
        width: 45%;
        max-width: 300px;
        margin: 30px auto 20px auto;
        @include flex_row_center;
        position: relative;
    }
}

.city h1{
    font-size: 20px;
    background-color: rgb(234, 234, 234);
    height: 50px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.448);
    padding: 12px 0 12px 0;

    @include flex_row_center;
    i{
        padding-right: 20px;
    }
}